<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <Style>
        body{
            margin: 0;
            padding: 0;
        }
        #container{
            height: 30rem;
            width: 20rem;
            border: 1px solid black;
            background-image: linear-gradient(to left,pink,orange );
            align-self: center;
            margin-left: 40%;
            margin-top: 5%;
        }

    </Style>
</head>
<body>
    <div  id="container">
           <form>
         <h1>add item</h1>
        <input type="text" id="value" class="form-control"/>
        <button id="add" class="btn btn-primary">Add item</button>
         </form>

           <div id="table">

           </div>
 
  
    </div>
   
</body>
<script>

    var x=[];
    document.getElementById('add').addEventListener('click',(e)=>{
        e.preventDefault();
         var val=document.getElementById('value').value;

        if(val){
        fetch('/additem',{headers:{name:val}})
        .then(res=>res.json())
        .then(data=>{alert(data.msg)
        })
        }
        
        else{
            alert('please enter a value in textbox');
        }
    })


function del(val){
       fetch('/deleteitem',{headers:{name:val}})
        .then(res=>res.json())
        .then(data=>alert(data.msg))
}



function show(data){
    var tab=`<table>`
     {
         data.map(val=>{
             return(
                 tab+=`<tr>
                     <td>${val.name}</td>
                     <td><button class='btn btn-danger' onclick={del('${val.name}')}>delete</button></td>
                 </tr>`
             )
         })
     }
    tab+=`<table>` 
    document.getElementById('table').innerHTML=tab;      
}



    setInterval(()=>{
      fetch('/showitem').then(
          res=>res.json()
      ).then(
          data=>{
              if(data==x){             
              }
              else{
                  show(data);
                  x=data;
              }
          }
      )
    },1000)
   
</script>
</html>